{% extends 'base.html.twig' %}

{% block title %}produits{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/produit.css')}}">
{% endblock %}
{% block header %}
<div class="brand">
    <h1>Cours {{Matiere.NomMat}}</h1>
</div>
{% endblock %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3">
    {%for fichier in Matiere.fichiers%}    
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">        
                    <video width="320" height="240" controls>
                        <source src="/uploads/{{fichier.fichier}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video> 
                </div>
                <div class="card-footer">
                    <form method="POST" action="{{path("video_app",{id:fichier.Id})}}" style="display:inline-block">
                        <input type="hidden" name="_token" value="{{csrf_token('fichier'~fichier.Id)}}">
                        <input type="hidden" name="_method" value="fichier">
                        <button class="btn btn-sm btn-outline-danger vid">{{fichier.nomFichier}}</button>
                    </form>
                </div>
            </div>

        </div>
    {% endfor %}
</div>
{% endblock %}


